@model Product
<div class="col-md-4 my-3">
  <h2>@Model.ProductName</h2>
  <p>@Model.Price.ToString("c")</p>
  <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">Get Details</a>
  <hr/>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a asp-action="Get" asp-route-id="@Model.ProductId" class="btn btn-primary">
      <i class="fa-solid fa-arrow-right"></i> Add to cart</a>
      Go somewhere</a>
  </div>
</div>
</div>