@model Entities.Models.Product;
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h6 class="display-6">@Model.ProductName</h6>
            <img src="@Model.ImageUrl" class="img-fluid shadow rounded-3 mt-3" width="50%" alt="@Model.ProductName" />
        </div>
        <span class="lead my-4 fw-bold text-center">@Model.Price TL</span>
        <div class="btn-group offset-4 col-4 text-center">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
            <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Product">Product</a>
        </div>
    </div>


@section Header{
    <div>
        Only render in GetProduct page
    </div>
}
