@model Entities.Models.Product;
@using Entities.Models;

    <h3>@Model.ProductName</h3>
    <p>@Model.Price</p>

    <div class="btn-group">
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Product">Product</a>
    </div>

@section Header{
    <div>
        Only render in GetProduct page
    </div>
}
