
@model IQueryable<Product>

  <div class="row my-3">
        <h1>Products</h1>
    <div class="col-md-3">
      @await Component.InvokeAsync("CategoriesMenu")
    </div>
    <div class="col-md-9">

      <div class="row">
        @foreach (var product in Model)
        {
          <partial name="_ProductCard" model="@product"/>
        }
        </div>
    </div>
  </div>
  
@section Footer{
  <div>
    Only render in index page
  </div>
}


