
@section Footer{
  <div>
    Only render in index page
  </div>
}

@model List<Product>

      @foreach (var product in Model)
      {
        <partial name="_ProductCard" model="@product"/>
      }
