@page "/cart"
@model CartModel

<div class="text-center h-100">
  <div class="display-6">Cart</div>
  <div class="lead mt-5">
    <i class="fa fa-shopping-cart mt-1"></i> Your cart is empty
  </div>
</div>