@page "/gettingtouch"

<div class="text-center h-100">
  <div class="display-6">Contact</div>
  <div class="lead mt-5">
    <i class="fa fa-phone mt-1"></i> +1 (555) 123-4567
    <br />
    <i class="fa fa-envelope mt-3"></i> info@example.com
    <br />
    <i class="fa fa-map-marker mt-3"></i> İstanbul Türkiye
  </div>
</div>